   /* allign grid to window*/
   html,
   body,
   #parent,
   #grid {
     margin: 0;
     padding: 0;
     border-width: 0;
     height: 100%;
   }

   html {
     overflow: hidden;
     font: 13px sans-serif;
   }

   /* grid cell no vertical padding*/
   .k-grid tbody td {
     padding: 0px 5px 0px 5px;
   }


   /* wider Filtermenu */
   .k-animation-container>form.widerMenu {
     width: 400px !important;
   }

   .widerMenu .k-filter-menu-container {
     width: 100% !important;
   }